/*ToC
Elements
Classes
IDs
results-grid IDs and class
@media queries*/

/*Elements*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #003366;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    margin-top: 10px;
}

h1 {
    color: #FFFFFF;
    line-height: 36px;
    position: absolute;
    left: 250px;
    margin-top: 0px;
    top: 20px;
}

header,
footer {
    background-color: #003366;
    height: 74px;
    width: 100%;
}

/*Classes*/
.about {
    margin: 10px;
    font-size: 16px !important;
}

.big-button {
    height: 45px;
    width: 100px;
    font-size: 14px;
}

.button {
    font-family: "Baskerville", serif;
    color: #003366;
    background-color: #BAD7E9;
    border-radius: 12px;
    font-weight: bold;
    border: 2px solid #003366;
}

.button:hover {
    cursor: pointer;
}

.country-button {
    height: 80px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.flag-img {
    height: 20px;
}

.main-div {
    width: 33%;
    height: 80%;
    margin: 10px;
}

.responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 1 auto;
}

.scroll-label {
    font-weight: bold;
}

.scroll-links {
    font-family: "Baskerville", serif;
    color: #003366;
    border: 1px solid #003366;
    border-radius: 5px;
}

.small-button {
    height: 26px;
    width: 90px;
    font-size: 14px;
    position: absolute;
    text-align: center;
    line-height: 22px;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.text-element {
    font-family: "Baskerville", serif;
    color: #003366;
    font-weight: bold;
    font-size: 20px;
}

.time {
    font-weight: bold;
    font-size: 20px;
}

.time-label {
    font-weight: bold;
    display: none;
}

/*IDs*/
#about-button {
    right: 10px;
    top: 8px;
}

#attribution {
    font-style: italic;
    margin: 10px;
    color: #FFFFFF;
    font-family: "Baskerville", serif;
    font-size: 16px;
}

#button-container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

#country-button-container {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin: auto;
    position: relative;
    top: 50px;
}

#dark-mode {
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
}

#reset {
    right: 10px;
    top: 40px;
}

#main-button {
    right: 10px;
    top: 40px;
}

#map {
    width: 33%;
    /*The map won't display if the width isn't specified here, for some reason.*/
    height: 300px;
    border: 2px solid #003366;
    border-radius: 8px;
    margin: 10px;

}

#station-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
    margin-top: 20px;
}

#train-vs-car {
    width: 200px;
    margin: 0px;
    padding: 0px;
}

/*results-grid IDs and class*/
#results-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
    text-align: center;
    padding: 20px 10px 10px 10px;
}

#train-label {
    grid-row: 1;
    grid-column: 1;
}

#drive-label {
    grid-row: 1;
    grid-column: 2;
}

#transit-time {
    grid-row: 2;
    grid-column: 1;
}

#drive-time {
    grid-row: 2;
    grid-column: 2;
}

.image {
    display: none;
    width: 90%;
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
    max-height: 300px;
}

/*@media queries*/
@media (max-width: 700px) {

    header,
    footer {
        height: 50px;
    }

    h1 {
        left: 15px;
        font-size: 24px;
        top: 5px;
    }

    .small-button {
        height: 20px;
        font-size: 12px;
        line-height: 20px;
    }

    #about-button {
        right: 4px;
        top: 4px;
    }

    #dark-mode {
        right: 4px;
        top: 4px;
    }

    #main-button {
        top: 34px;
        right: 4px;
    }

    #reset {
        right: 4px;
        top: 27px;
    }

    .main-div {
        width: 80%;
        min-height: 180px;
        max-height: 450px;
    }

    .responsive {
        flex-direction: column;
        align-items: center;
    }

    #map {
        width: 80%;
        bottom: 60px;
    }

    #results-grid {
        gap: 10px;
    }

    .image {
        margin-bottom: 20px;
    }

    #station-input {
        gap: 5px;
    }

    #train-vs-car {
        display: none;
    }
}